<!--
  Generated template for the AdvModal page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!--

<ion-header>
    <ion-navbar>
      <ion-title>Search Place</ion-title>
    </ion-navbar>
    <button ion-button block (click)="goBack()">Close Modal</button>
  </ion-header>

  <ion-content>
 <ion-searchbar [(ngModel)]="autocomplete.query" [showCancelButton]="true" (ionInput)="updateSearch()" (ionCancel)="dismiss()"></ion-searchbar>

<ion-list>
  <ion-item-sliding *ngFor="let item of autocompleteItems" tappable (click)="chooseItem(item)">
     <ion-item>
    <ion-thumbnail item-left>
       <img src="https://cdn4.iconfinder.com/data/icons/navigation-2/500/Base_gps_location_map_map_marker_place-512.png">
    </ion-thumbnail>
    <h2>  {{ item }}</h2>
    <p>{{item.description}}</p>
    <button ion-button clear item-right>View</button>
  </ion-item>
    <ion-item-options side="left">
      <button ion-button (click)="favorite(item)">Favorite</button>
      <button ion-button color="danger" (click)="share(item)">View</button>
    </ion-item-options>

    <ion-item-options side="right">
      <button ion-button (click)="unread(item)">Add</button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
  </ion-content>`-->
<ion-header>
  <ion-navbar color="danger">
    <ion-title>Search address</ion-title>
  </ion-navbar>
</ion-header>
<ion-content> 
    <ion-searchbar 
        [(ngModel)]="autocomplete.query" 
        [showCancelButton]="true" 
        (ionInput)="updateSearch()" 
        (ionCancel)="dismiss()"
        placeholder="Start typing and select ...">
    </ion-searchbar>

    <ion-list>
  <ion-item-sliding *ngFor="let item of autocompleteItems" tappable (click)="chooseItem(item)">
     <ion-item>
    <ion-thumbnail item-left>
       <img src="https://cdn4.iconfinder.com/data/icons/navigation-2/500/Base_gps_location_map_map_marker_place-512.png">
    </ion-thumbnail>
    <h2>  {{item.description}}</h2>
    <p>{{item.description}}</p>
    <button ion-button clear item-right>View</button>
  </ion-item>
    <ion-item-options side="left">
      <button ion-button (click)="favorite(item)">Favorite</button>
      <button ion-button color="danger" (click)="share(item)">View</button>
    </ion-item-options>

    <ion-item-options side="right">
      <button ion-button (click)="unread(item)">Add</button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
</ion-content>