<!--
  Generated template for the Adventure page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>

  <ion-navbar>
    <ion-row>
      <ion-col col-8>
        <ion-title>Adventure</ion-title>
      </ion-col>

      <ion-col col-4>
        <button ion-button round color="secondary" menuToggle>Back</button>

      </ion-col>

    </ion-row>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card>
    <img class="img-responcive img-fluid" src="https://c1.staticflickr.com/7/6205/6055295479_2f42403189_b.jpg"/>
    <div class="card-title">Sri DaladaMaligawa</div>
    <div class="card-subtitle">72M Visit there</div>
      <ion-fab bottom right dark>

    <button ion-fab mini><ion-icon name="share"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
  </ion-card>

<ion-card>
  <ion-card-header>
    Map
  </ion-card-header>
  <ion-card-content>
  <div #map id="map" ></div>
  </ion-card-content>
</ion-card>
 <ion-card>


  <ion-card-header>
    Friends
  </ion-card-header>
  <ion-card-content> 
    <ion-grid>
      <ion-row>
        
          <ion-col col-3 col-sm-6 col-md-6 col-lg-4 col-xl-6>
              <ion-thumbnail>
               <ion-img style="width: 80px; height: 80px;" src="http://www.leytonorient.com/images/common/bg_player_profile_default_big.png"></ion-img>
             </ion-thumbnail>
                          
          </ion-col>
          <ion-col col-3 col-sm-6 col-md-6 col-lg-4 col-xl-6>
              <ion-thumbnail>
               <ion-img style="width: 80px; height: 80px;" src="http://www.leytonorient.com/images/common/bg_player_profile_default_big.png"></ion-img>
             </ion-thumbnail>
                          
          </ion-col>
          <ion-col col-3 col-sm-6 col-md-6 col-lg-4 col-xl-6>
              <ion-thumbnail>
               <ion-img style="width: 80px; height: 80px;" src="http://www.leytonorient.com/images/common/bg_player_profile_default_big.png"></ion-img>
             </ion-thumbnail>
                          
          </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
 <ion-card>
  <ion-card-header>
    Suggestions
  </ion-card-header>
  <ion-card-content>
<ion-grid class="scroll-horiz">
  <ion-row>
    <ion-col col-2>
              <ion-thumbnail>
               <ion-img style="width: auto; height: auto;" src="http://www.leytonorient.com/images/common/bg_player_profile_default_big.png"></ion-img>
             </ion-thumbnail>
    </ion-col>
    <ion-col col-2>
              <ion-thumbnail>
               <ion-img style="width: auto; height: auto;" src="http://www.leytonorient.com/images/common/bg_player_profile_default_big.png"></ion-img>
             </ion-thumbnail>
    </ion-col>
    <ion-col col-2>
              <ion-thumbnail>
               <ion-img style="width: auto; height: auto;" src="http://www.leytonorient.com/images/common/bg_player_profile_default_big.png"></ion-img>
             </ion-thumbnail>
    </ion-col>
      <ion-col col-2>
              <ion-thumbnail>
               <ion-img style="width: auto; height: auto;" src="http://www.leytonorient.com/images/common/bg_player_profile_default_big.png"></ion-img>
             </ion-thumbnail>
    </ion-col>
  </ion-row>

</ion-grid>
  </ion-card-content>
</ion-card>


<ion-card >
  <div class="scroll-horiz">
        <ion-row scrollX="true" >
          <ion-col col-4 col-sm-4 col-md-2 col-lg-4 col-xl-1>
          <ion-card>
    <img  style="width: 80px; height: 80px;" src="https://www.smashingmagazine.com/wp-content/uploads/2015/06/10-dithering-opt.jpg"/>
  </ion-card>
          </ion-col>
          <ion-col col-4 col-sm-4 col-md-2 col-lg-4 col-xl-1>
            <ion-card>
    <img  style="width: 80px; height: 80px;" src="https://www.smashingmagazine.com/wp-content/uploads/2015/06/10-dithering-opt.jpg"/>
  </ion-card>
          </ion-col>
          <ion-col col-4 col-sm-4 col-md-2 col-lg-4 col-xl-1>
            <ion-card>
    <img  style="width: 80px; height: 80px;" src="https://www.smashingmagazine.com/wp-content/uploads/2015/06/10-dithering-opt.jpg"/>
  </ion-card>
          </ion-col>
        
             </ion-row>
</div>
     
</ion-card>

</ion-content>-->
<ion-header>  
	<ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>         
		<ion-title>Places Autocomplete</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
    <div id="map"></div>
    <ion-list>
        <ion-item margin>
            <ion-input type="text" placeholder="Pick an address"
                (click)="showModal()" 
                [(ngModel)]="address.place">
            </ion-input>
        </ion-item>
        <!--<ion-card>
        <ion-item *ngIf="address.set==true">
 <ion-card-header>
    <h3>Full text address</h3>
  </ion-card-header>
  <ion-card-content>
            <ion-icon name="pin" item-left></ion-icon>
            <img  src="{{placedetails.photo_reference}}" />
            
            <p>{{ placedetails.address }}</p>
            <h3>Street name</h3>
            <p>{{ placedetails.components.route.long }}</p>
            <h3>Street number</h3>
            <p>{{ placedetails.components.street_number.long }}</p>
            <h3>Neighbourhood</h3>
            <p>{{ placedetails.components.sublocality_level_1.long }}</p>
            <h3>Postal Code</h3>
            <p>{{ placedetails.components.postal_code.long }}{{ placedetails.components.postal_code_suffix.long }}</p>    
            <h3>City</h3>
            <p>{{ placedetails.components.locality.long }}</p>     
            <h3>Location geometry</h3>
            <p>{{ placedetails.lat }}, {{ placedetails.lng }}</p>  
</ion-card-content>
        </ion-item>
        </ion-card>-->

<button *ngIf="address.set==true" ion-button full color="dark"  (click)="showModal()">Pick a Location</button>

 

           <ion-card *ngIf="address.set==true">
              <div class="card-title" style="position: absolute; z-index: 999; background-color: rgba(0,0,0,.2); height:26px">{{ placedetails.address }}</div>
    <div class="card-subtitle position: absolute; z-index: 999;">{{ placedetails.components.route.long }}</div>
             <div style="box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);" >
               <ion-slides *ngIf=placedetails.photo_pack>
                 
  <ion-slide *ngFor="let photo of placedetails.photo_pack" >
    <h1><img class="img-responcive img-fluid" [src]="photo.getUrl({'maxWidth': 480, 'maxHeight': 246}) "/></h1>
  </ion-slide>
</ion-slides>

     </div>
   
      <ion-fab bottom right dark>

    <button ion-fab mini><ion-icon name="share"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
        <ion-fab bottom left>

    <button ion-fab mini  color="secondary"><ion-icon name="navigate"></ion-icon></button>
  </ion-fab>
  </ion-card>
    </ion-list>

    <div padding>
  <ion-segment color="danger" [(ngModel)]="place">
    <ion-segment-button color="secondary" value="Eat">
      EAT
    </ion-segment-button>
    <ion-segment-button color="secondary" value="Travel">
      TRAVEL
    </ion-segment-button>
        <ion-segment-button color="secondary" value="Sleep">
      Sleep
    </ion-segment-button>
  </ion-segment>
</div>

<div [ngSwitch]="place">
  <ion-list *ngSwitchCase="'Eat'">
    <ion-item>
      <ion-thumbnail item-left>
        <img src="https://lh3.googleusercontent.com/proxy/s4ITDrU4pYyE6wssFucW_ZnU5gdOdUwZFjsKHsi48qBibus1f9-4KXmlV-r9S0CueAmxM52PvkQCJUp8e-WdFCIrKpy4nuvzt62gztSVkpQrAiWFcPbeLuuGjOcU5-GRApAmCyvdSn4cpVktW8m06FSgX_owOg=w408-h306-k-no">
      </ion-thumbnail>
      <h2 >Ravana Heights</h2>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-left>
        <img src="https://lh3.googleusercontent.com/-c8ggBD10iZ0/VNns5QLuDFI/AAAAAAAAAA4/-3iv_xAnzJ4rRsadZQcE8olfQ0ahMPF2wCJkC/w408-h306-k-no/">
      </ion-thumbnail>
      <h2 >Hotel Heaven's Edge</h2>
    </ion-item>
  </ion-list>

  <ion-list *ngSwitchCase="'Travel'">
<ion-item>
      <ion-thumbnail item-left>
        <img src="http://www.voyagevirtuel.info/sri-lanka/bigphotos/road-pont-kwai-1.jpg">
      </ion-thumbnail>
      <h2 >Kalu Gala</h2>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-left>
        <img src="http://amazinglanka.com/wp/wp-content/uploads/2014/03/bomburu2-600x336.jpg">
      </ion-thumbnail>
      <h2 >Bomuru Ella</h2>
    </ion-item>

  </ion-list>
  <ion-list *ngSwitchCase="'Sleep'">
<ion-item>
      <ion-thumbnail item-left>
        <img src="https://lh3.googleusercontent.com/proxy/s4ITDrU4pYyE6wssFucW_ZnU5gdOdUwZFjsKHsi48qBibus1f9-4KXmlV-r9S0CueAmxM52PvkQCJUp8e-WdFCIrKpy4nuvzt62gztSVkpQrAiWFcPbeLuuGjOcU5-GRApAmCyvdSn4cpVktW8m06FSgX_owOg=w408-h306-k-no">
      </ion-thumbnail>
      <h2 >Ravana Heights</h2>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-left>
        <img src="https://lh3.googleusercontent.com/-c8ggBD10iZ0/VNns5QLuDFI/AAAAAAAAAA4/-3iv_xAnzJ4rRsadZQcE8olfQ0ahMPF2wCJkC/w408-h306-k-no/">
      </ion-thumbnail>
      <h2 >Hotel Heaven's Edge</h2>
    </ion-item>
</ion-list>
</div>
</ion-content>

 
